*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(39,68,136,0.5);
    text-align: center;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

li{
    list-style: none;
}

.header-picture img{
    width: 200px;
    border-radius: 50%;
}

header nav ul{
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header nav ul li{
    margin: 3px 15px;
}